body {
<<<<<<< HEAD
  background-color: #141414;
=======
  background-color: #f5f7fb;
  font-family: "Poppins", "Noto Sans KR", sans-serif;
}
.wrap {
  position: relative;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  .mainContainer {
    position: relative;
    margin: 0 0 0 230px;
    .chartBox {
      .bottomContainer {
        display: inline-block;
        section {
          display: inline;
          float: left;
          margin: 0 10px 10px 0;
        }
        .smallChartCard {
          box-sizing: border-box;
          position: relative;
          height: 450px;
          width: 505px;
          box-shadow: 0px 5px 5px 0 var(--silver-30);
          border: solid 1px #dcdfe6;
          border-radius: 10px;
          background-color: #fff;
          padding: 0 30px;
          .titleBox {
            display: inline-flex;
            align-items: flex-end;
            .text {
              display: flex;
              h2 {
                font-family: Poppins;
                font-weight: 600;
                font-size: 26px;
                margin: 26px 0 0 0;
                line-height: 36px;
              }
              & .orange {
                color: #e35b0a;
              }
              & .grey {
                font-family: Noto Sans KR;
                font-weight: 500;
                font-size: 22px;
                letter-spacing: -1.32px;
                color: #909399;
              }
            }
            .icon {
              position: absolute;
              top: 30px;
              right: 10px;
            }
          }
        }
        .bigChartCard {
          box-sizing: border-box;
          position: relative;
          width: 1022px;
          height: 450px;
          box-shadow: 0px 5px 5px 0 var(--silver-30);
          border: solid 1px #dcdfe6;
          border-radius: 10px;
          background-color: #fff;
          padding: 0 30px;
          .topContainer {
            display: inline-flex;
            justify-content: space-between;
            align-items: flex-end;
            .left {
              display: flex;
              h2 {
                font-family: Poppins;
                font-weight: 600;
                font-size: 26px;
                margin: 26px 0 0 0;
                line-height: 36px;
              }
              & .orange {
                color: #e35b0a;
              }
              & .grey {
                font-family: Noto Sans KR;
                font-weight: 500;
                font-size: 22px;
                letter-spacing: -1.32px;
                color: #909399;
              }
            }
            .right {
              position: absolute;
              top: 30px;
              right: 10px;
            }
          }
        }
      }
    }

    .mainContentPlace {
      margin: 0 auto;
      padding: 0 30px;
      .locationBox {
        color: #909399;
        padding: 23px 0 23px 0;
        .homeIcon {
          color: #303133;
        }
        a {
          cursor: pointer;
          font-weight: normal;
          color: #303133;
          font-size: 17px;
          overflow: hidden;
          max-width: 200px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .tableBox {
        &:after {
          content: "";
          display: block;
          clear: both;
        }
        max-width: 1620px;
        display: block;
        .leftContainer {
          float: left;
          .smallCard {
            min-width: 220px;
            border-radius: 10px;
            box-shadow: 0 5px 5px 0 var(--silver-30);
            padding: 15px;
            border: solid 1px #dcdfe6;
            background-color: #fff;
            h3 {
              margin: 0px;
              padding: 10px;
              font-size: 15px;
              font-weight: 600;
              color: #303133;
            }
            .el-checkbox-group {
              display: flex;
              flex-direction: column;
              padding: 0 15px;
              .el-checkbox {
                display: flex;
                align-items: center;
                height: 44px;
              }
            }
          }
        }
        .rightContainer {
          float: right;
          width: calc(100% - 230px - 40px);
          .bigCard {
            max-width: 1285px;
            border-radius: 10px;
            box-shadow: 0 5px 5px 0 var(--silver-30);
            border: solid 1px #dcdfe6;
            background-color: #fff;
            padding: 0 30px;
            .optionContainer {
              display: flex;
              justify-content: space-between;
              height: 96px;
              position: relative;
              .right,
              .left {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
              .iconContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: #606266;
                padding: 0 15px;
                height: 79px;
                .iconBackground {
                  padding: 6px;
                }
                .iconBackground:hover {
                  background-color: #e1e2e4;
                  border-radius: 30px;
                }
                .txt {
                  font-family: Noto Sans KR;
                  font-size: 12px;
                  font-weight: 500;
                  letter-spacing: -0.36px;
                  color: #606266;
                }
              }
            }
          }
        }
        .paginationContainer {
          margin: 20px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .pagingTxt {
            font-family: Noto Sans KR;
            font-size: 13px;
            font-weight: 500;
            color: #909399;
            white-space: pre;
          }
        }
      }
    }
  }
}

.editDatePicker {
  width: 290px !important;
  background-color: #72747a !important;
  height: 50px !important;
  border: 0 !important;
  border-radius: 30px !important;
  padding: 0px !important;
  justify-content: space-evenly;
  .el-icon-date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background-color: #fff;
  }
  .el-range-input {
    background-color: transparent;
    color: #fff !important;
    font-size: 17px !important;
    width: 94px !important;
  }
  .el-range-input:second-child {
    margin: 0 17px 0 0 !important;
  }
  .el-range-input::placeholder {
    color: #fff !important;
  }
  .el-range-separator {
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    width: 0 !important;
  }
  .el-range__close-icon {
    display: none !important;
  }
}

.editselectBox {
  .el-input__inner {
    height: 50px !important;
    width: 150px;
    background-color: #72747a !important;
    border-radius: 30px !important;
  }
  .el-input__inner::placeholder {
    color: #fff;
  }
}

.filterDateMiddleContainer {
  .editFilterDatePicker {
    width: 270px !important;
    height: 47px !important;
    border: solid 1px #dcdfe6 !important;
    margin: 10px;

    .el-range-input {
      width: 36%;
      text-align: left;
    }
    .el-range-separator {
      display: flex;
      align-items: center;
      color: #606266;
    }
    .el-range__close-icon {
      display: none !important;
    }
  }
}

.el-checkbox__inner {
  width: 20px !important;
  height: 20px !important;
  border-radius: 4px !important;
}
.el-checkbox__inner::after {
  box-sizing: content-box;
  content: "";
  border: 2.5px solid #ffffff !important;
  border-left: 0 !important;
  border-top: 0 !important;
  height: 10px !important;
  left: 7px !important;
  position: absolute;
  top: 1px !important;
  transform: rotate(45deg) scaleY(0);
  width: 4px !important;
  transition: transform 0.15s ease-in 0.05s;
  transform-origin: center;
}

.el-table__header {
  th {
    color: #fff !important;
  }
  .el-table__cell {
    background-color: #72747a !important;
  }
}

.el-pager {
  li {
    font-size: 15px !important;
    border: 1px solid #e4e7ed !important;
    background-color: #fff !important;
    color: #909399 !important;
    font-weight: normal !important;
    margin: 1px !important;
    min-width: 28px !important;
    min-height: 28px !important;
    padding: 0 2px !important;
  }
  .active {
    background-color: #e8f0fe !important;
  }
  li:hover {
    color: #007acc !important;
  }
}
html {
  --silver-30: rgba(195, 199, 204, 0.3);
>>>>>>> fa0b73bc7be1d990081570065eef96f8eadbd8d5
}
